@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* default setting */
body {
  margin: 0;
  background-color: rgb(17, 17, 29);
  font-family: "Inter", sans-serif;
}
p {
  margin: 0;
}
/*   line  */
.line {
  height: 1px;
  background-color: gray;
}
/* ------------- */
/* Main Section */
/* ------------- */

/* alert */
.alert {
  background-color: #ff3171;
  color: white;
  text-align: center;
  padding: 0.6rem 0;
}
.alert > p {
  margin: 0;
}
a {
  color: blue;
}
h4 {
  margin: 0%;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 30px;
  padding-left: 50px;
}

#logo {
  object-fit: contain;
  width: 200px;
}

.nav-item {
  display: flex;
  gap: 20px;
  color: gray;
  font-size: larger;
  cursor: pointer;
}
.nav-item > span {
  padding: 1rem;
}
.nav-item > span:hover {
  color: white;
}

/* Hero */
.hero {
  display: flex;
  flex-direction: column;
  padding: 0 8rem;
  padding-top: 15rem;
  padding-bottom: 4rem;
  gap: 10rem;
}
.hero-Mid {
  color: white;

  height: fit-content;
}
.Hero-Mid-line-1 {
  font-size: 85px;
  padding-bottom: 55px;
}
.Hero-Mid-line-2 {
  font-size: 20px;
}

.Hero-End {
  display: flex;

  padding-bottom: 2rem;
  color: white;
  flex-direction: column;
  height: fit-content;
}
.Hero-End-Icon {
  display: inline flex;

  gap: 1px;
}
.icon {
  display: inline-flex;
  width: 200px;
  height: 100px;
}
.image {
  object-fit: contain;
  width: 150px;
  height: 100px;
}
/* ----------------- */
/*   Get Started     */
/* ----------------- */
.get-started {
  background-color: rgb(30, 32, 40);
  padding: 10rem;
  color: white;
}

.get-started-container {
  display: flex;
  justify-content: space-between;
}
.get-started-left {
  height: fit-content;
}
.get-started-para {
  font-size: xx-large;
  font-weight: 500;
}
.get-started-icon {
  color: orange;
  cursor: pointer;
  font-size: 20px;
  padding-top: 20px;
}
.get-started-icon:hover {
  border-bottom: 2px solid orange;

  width: fit-content;
}
.get-started-right {
  font-size: 1.2rem;
  font-weight: 200;
  height: fit-content;
}
/* ----------------- */
/* Product          */
/* ----------------- */
.product {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  align-items: center;
  padding: 5rem;
}
.product-heading {
  text-align: center;
  font-size: 3rem;
}
.product-table {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: fit-content;
  height: fit-content;
  row-gap: 1rem;
  column-gap: 10px;
}
#Scalable-and-fast-RPCs{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
}
#Aggregated-API-endpoints{
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
}
.product-table-heading {
  font-size: 30px;
  font-weight: 500;
}
.product-table-para {
  font-weight: 200;
  font-size: large;
}
.product-table-button {
  color: orange;
  cursor: pointer;
  font-size: 20px;
  padding-top: 20px;
}
.product-table-button:hover {
  border-bottom: 2px solid orange;

  width: fit-content;
}
.product-box {
  background-color: rgb(30, 32, 40);
  height: 28rem;
  width: 25rem;
  border-radius: 10px;
  text-align: center;
}
.product-image {
  object-fit: contain;
  height: 20rem;
  width: 20rem;
}
/* ----------------- */
/*      project      */
/* ----------------- */
.project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  padding: 5rem;
}
.project-data {
  display: grid;
  grid-template-columns: repeat(4, 20rem);
  grid-template-rows: repeat(2, 15rem);
  row-gap: 1rem;
  column-gap: 1rem;
  width: fit-content;
}
.project-element {
  text-align: center;
  border-radius: 20px;
  background-color: rgb(30, 32, 40);
  padding: 40px;
}
.project-para {
  color: gray;
}
/* ----------------- */
/*    partner        */
/* ----------------- */
.partner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  color: white;
  padding: 4rem;
}
.partner-heading {
  text-align: center;
}
.partner-subheading {
  color: gray;
}
/* ----------------- */
/*      footer       */
/* ----------------- */
.footer {
  background: rgb(60,94,208);
background: -moz-linear-gradient(24deg, rgba(60,94,208,1) 0%, rgba(0,223,252,1) 99%);
background: -webkit-linear-gradient(24deg, rgba(60,94,208,1) 0%, rgba(0,223,252,1) 99%);
background: linear-gradient(24deg, rgba(60,94,208,1) 0%, rgba(0,223,252,1) 99%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3c5ed0",endColorstr="#00dffc",GradientType=1);
  padding: 4rem 7rem;
  padding-top: 8rem;
  padding-right: 10rem;
  display: flex;
}
.footer-body {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.footer-image {
  object-fit: contain;
  width: 15rem;
}
.footer-logo{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.footer-logo > p {
  font-size: 0.9rem;
  font-weight: 600;
  color: #a1c5ef;
}
.footer-items {
  display: flex;
  gap: 7rem;
}
.footer-item {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.footer-heading {
  color: white;
  font-weight: 500;
}
.footer-list-item {
  color: #a1c5ef;
  font-weight: 600;
  cursor: pointer;
}
.footer-list-item:hover {
  color: #fff;
}
.footer-list-icon {
  width: 1.2rem;
  cursor: pointer;
}
.footer-list-icon:hover{
  filter: grayscale(100%);
}
/*---------------*/
/* media Query   */
/*---------------*/
@media(min-width:360px ) and (max-width:800px){
/*---------------------*/
/* Main Section media  */
/*---------------------*/
 /* alert */
  .alert{
    width:24rem;
    padding: 2px 1px;
    
  font-size: small;}
    /* navbar */
  #logo{
     width: 120px;}
  .navbar{
     font-size: 10px; 
    padding: 15px 0px;}
 .nav-item{
    gap: 20px;
    font-size: 15px;}
  .nav-item>span{
    padding: 0%;
  }
/* hero */
.hero{
gap: 5rem;
padding: 10px;
padding-top: 8rem;}
.Hero-Mid-line-1{
  font-size: 35px;
}
.Hero-Mid-line-2{
  font-size: 12px;
}
.Hero-End{
  font-size: 10px;
}
.Hero-End-Icon{
  display: flex;
  gap: 2px;
}
.image{
  object-fit: contain;
 width: 3.5rem;
  gap: 1rem;
}
.icon{
  height: 3.5rem;
  width: 3.5rem;

}
/* --------------------*/
/*   Get Started media */
/* --------------------*/
.get-started{
  padding: 40px;
}
.get-started-container{
  gap: 25px;
}
.get-started-para{
  font-size: medium;
}
.get-started-icon{
  font-size: smaller;
}
.get-started-right{
  font-size: small;
}
/* ----------------- */
/* Product  media    */
/* ----------------- */
.product{
  padding: 10px;
}
.product-heading{
  font-size: xx-large;
  
}
.product-image{
  width: 20rem;
  
}
.product-box{
  width: 22rem;
  height: 22rem;
  padding: 5px;
  margin-left: 5px;
  
}
.product-image-heading{
  font-size: larger;
}
.product-table{
display: flex;
flex-direction: column;
}
.product-box-content{
  text-align: center;
}
.product-table-heading{
  font-size: large;}
  .product-table-para{
    font-size: medium;
  }
  .product-table-button{
    font-size: medium;
  }
  .line{
       margin-top: 10px;
  }
/* ----------------- */
/*  project media    */
/* ----------------- */
.project-heading{
  font-size: x-large;
}
.project-data{
  grid-template-columns: repeat(2, 11rem);
  grid-template-rows: repeat(4, 10rem);
  row-gap: 10px;
  column-gap: 10px;
  width: fit-content;
}
.project-element{
  font-size: small;
  padding: 2px;
}
.project-para{
  font-size: small;
}
/* ----------------- */
/*    partner        */
/* ----------------- */
.partner{
  padding: 20px;
}
.partner-heading{
  font-size: x-small;
}
.partner-subheading{
  font-size: small;
  padding-bottom: 20px;
}
.partner-image{
  object-fit: contain;
  width: 23rem;
}
/* ----------------- */
/*      footer       */
/* ----------------- */
.footer{
  padding: 4rem 1rem;
}
.footer-image{
  width: 6rem;
}
.footer-logo>p{
font-size: xx-small;
}
.footer-items{
  gap: 1rem;
}
.footer-item{
  gap: 0.5rem;
}
.footer-list-item{
  font-size: x-small;
}
.footer-list-icon{
  width: 1rem;
}
.footer-heading{
  font-size: small;
}
}